.cart{
    position: sticky;
    top: 0;

}

button{
    display: block;
    border: none;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgb(197, 194, 194);
}
button:hover{
    color: rgb(197, 194, 194);
    background-color: black;
}